// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --amarelo: #FFF12D;
  --branco: #FFFFFF;
  --roxo-escuro: #1D0035;
  --roxo-medio: #4F028E;
  --roxo-claro: #690AC4
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  transition: ease-in-out 0.3s;
}

.body--dark {
  background-color: #4F028E;
  color: #fff;
  transition: ease-in-out 0.3s;
}

.body--light {
  background-color: #f2f2f2;
  color: #1D0035;
  transition: ease-in-out 0.3s;
}

.text-xl {
  font-size: 4.3rem;
}

.text-xlg {
  font-size: 2.75rem;
}

.text-lg {
  font-size: 2.25rem;
}

.text-md {
  font-size: 1.625rem;
}

.text-sm {
  font-size: 1.25rem;
}

.text-xs {
  font-size: 1.05rem;
}

.botao-roxo {
  background-color: var(--roxo-medio);
  border-radius: 25px;
  padding: 5px 20px;
  text-align: center;
  font-weight: 400;
}

.botao-amarelo {
  padding: 5px 25px;
  border-radius: 20px;
  background-color: var(--amarelo);
  text-align: center;
  font-weight: 400;
}

.texto-branco {
  color: #fff;
}

.texto-roxo {
  color: var(--roxo-medio);
}

.texto-amarelo {
  color: var(--amarelo);
}

.texto-roxo-escuro {
  color: var(--roxo-escuro);
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.border-radius {
  border-radius: 0px 0px 100px 100px;
}

a {
  cursor: pointer;
}